{% extends 'base.html' %}

<!-- root view -->
{% block content %}
<div class="row mt-3">
  <div class="col-12">
    <h3>Aesthetes Chill spot.</h3>
  </div>
  <!-- display all images -->
  <div class="mt-4">
    {% for image in images %}
    <img
      src="{{ image.image_file.url }}"
      alt="{{ image.image_name }} image"
      class="rounded image"
    />
    <p>
      {{ image.image_name }}
      <!-- timezone loader -->
      {% load tz %}
      <span class="bg-warning"
        ><small>{{ image.pub_date|date:'d/m/Y H:m'}}</small></span
      >
    </p>
    <p>{{ image.image_description }}</p>
    {% endfor %}
    <!-- todo: display image category -->
  </div>
</div>
{% endblock %}
