{% load static %}
<link rel="stylesheet" href="{% static 'picasso/style.css' %}" />
<!-- load css file -->

<div class="container mt-2">
  <nav class="navbar navbar-expand-lg top__nav">
    <a class="navbar-brand fw-bold" href="{% url 'picasso:index' %}">G.</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'picasso:index' %}"
            ><i class="fas fa-home"></i>
            <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'picasso:about' %}">About</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for category in categories %}
            <a class="dropdown-item" href="#">{{ category.name }}</a>
            {% endfor %}
            <div class="dropdown-divider"></div>
          </div>
        </li>
      </ul>
      <form
        class="form-inline my-2 my-lg-0"
        action="{% url 'picasso:search_results' %}"
      >
        <div class="input-group mb-2 mr-sm-2">
          <input
            class="form-control"
            type="search"
            name="search_term"
            placeholder="Search...."
            aria-label="Search"
          />
          <div class="input-group-prepend">
            <div class="input-group-text">
              <a href="#" class="text-warning" role="button"
                ><i class="fas fa-magnifying-glass"></i
              ></a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </nav>
</div>
