{% load static %}
<link rel="stylesheet" href="{% static 'picasso/style.css' %}" />
<!-- load css file -->

<div class="container mt-2">
  <nav class="navbar navbar-expand-lg top__nav rounded">
    <a class="navbar-brand logo" href="{% url 'picasso:index' %}">G.</a>
    <button
      class="navbar-toggler btn-outline-info"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon mt-1">|||</span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'picasso:index' %}"
            ><i class="fas fa-home"></i>
            <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'picasso:about' %}">About</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for category in categories %}
            <a
              class="dropdown-item"
              href="{% url 'picasso:get_by_category' category.name %}"
              >{{ category.name }}</a
            >
            {% endfor %}
            <div class="dropdown-divider"></div>
          </div>
        </li>
      </ul>
      <form
        class="form-inline my-2 my-lg-0"
        action="{% url 'picasso:search_results' %}"
      >
        <div class="input-group mb-2 mr-sm-2">
          <input
            class="form-control"
            type="search"
            name="search_term"
            placeholder="Search for anything..."
            aria-label="Search"
          />
          <div class="input-group-prepend">
            <div class="input-group-text">
              <button class="search_btn">
                <i class="fas fa-magnifying-glass"></i>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </nav>
</div>
